*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* width */
::-webkit-scrollbar {
  height: 10px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #444B53;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #696F75;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}


body {
	padding: 0;
	margin: 0;
	display:grid;
	place-items: center;
	height: 100vh;
	background-color: antiquewhite;
}



.big-box .large {
	width: 50%;
	aspect-ratio: 1 / 0.5;
	overflow: hidden;
	border: 4px solid #fff;
	border-radius: 6px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	margin: 0 auto 15px auto;
}

.big-box .large img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}



.thumbnails {
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    overflow-x: scroll;
	  padding: 0 0 10px 0;
	  margin: 0 auto;
	 

}


.thumbnails img {
	width: 100%;
	height: 100px;
	opacity: 0.5;
}

.fade-in{
	opacity: 1 !important
}

.show-time {
	border:2px solid red;
}

